:root {
--theme: "day";
--color: #383838;
--data-color: #000000;
--selected-data-color: yellow;
--input-data-color: #000000;
--disabled-color: #7a7a7a;
--background: #e6e6e6;
--data-background: #ffffff;
--selection-background: #0000ff;
--hover-background: #d6d6ff;
--font-size: 11pt;
--font-size-small: 10pt;
--font-size-large: 13pt;
--font-family: sans-serif;
--font-family-mono: Courier;
--font: var(--font-size) var(--font-family);
--font-small: var(--font-size-small) var(--font-family);
--mono-font: var(--font-size) var(--font-family-mono);
--mono-font-large: var(--font-size-large) monospace;
--border-color: rgb(130, 130, 130);
--border-dark-color: rgb(80, 80, 80);
--border-bright-color: rgb(150, 150, 150);
--border-width: 2px;
--border: var(--border-width) inset var(--border-color);
--box-shadow: 5px 5px 8px rgb(136, 136, 136);
--padding: 3px;
--margin: 3px;
--gap: 3px;
--icon-size: 32px;
--icon-border: 1px solid var(--border-color);
--icon-background: rgb(60,60,60);
--icon-color: rgb(180, 180, 180);
--icon-fill-color: rgb(150, 150, 150);
--icon-hover-background: rgb(100,100,100);
--icon-hover-color: #4d4d9d;
--icon-hover-fill-color: rgb(150, 150, 150);
--icon-on-background: var(--selection-background);
--icon-on-color: white;
--icon-on-fill-color: rgb(220, 220, 220);
--icon-on-border: 1px solid white;
--icon-border-radius: 5px;
--titlebar-height: 1.4rem;
--titlebar-color: #ffffff;
--titlebar-background: #4d4d9d;
--titlebar-font: var(--font);
--window-color: var(--color);
--window-background: var(--background);
--window-border: 1px solid var(--border-color);
--window-shadow: var(--box-shadow);
--window-z: 50;
--panel-padding-top: 6px;
--panel-padding-bottom: 3px;
--panel-border-top: 1px solid var(--border-color);
--panel-background: var(--background);
--scrollbar-track-width: 0.7rem;
--scrollbar-track-color: var(--background);
--scrollbar-thumb-width: 0.6rem;
--scrollbar-thumb-color: rgb(140, 140, 140);
--popup-menu-border: 1px solid rgb(24, 24, 24);
--menuitem-font: var(--font);
--menuitem-height: 1.1rem;
--menuitem-color: var(--color);
--menuitem-background: var(--background);
--menuitem-selection-color: rgb(255,255,255);
--menuitem-selection-background: rgb(64, 64, 200);
--field-height: 1.5rem;
--field-label-width: 5rem;
--field-value-width: 8rem;
--field-value-color: #000000;
--field-border: var(--border);
--input-height: 1.8rem;
--input-color: #000000;
--input-active-color: yellow;
--input-active-background: rgb(64, 64, 200);
--choice-height: var(--field-height);
--choice-value-width: var(--field-value-width);
--choice-field-border: var(--border);
--choice-value-color: var(--input-data-color);
--choice-field-background: var(--data-background);
--button-height: 2rem;
--button-color: #000000;
--button-background: #e9e0ff;
--button-hover-background: #c2c2db;
--button-border: 3px groove var(--border-color);
--button-border-radius: 0px;
--button-color-pressed: yellow;
--button-border-pressed: var(--button-border);
--checkbox-size: 1rem;
--checkbox-button-size: 0.8rem;
--checkbox-button-border: 1px solid var(--border-color);
--radio-size: 1rem;
--radio-button-size: 0.9rem;
--radio-button-border: 1px solid var(--border-color);
--radio-button-selected-color: var(--data-color);
--radio-button-selected-background: var(--data-background);
--list-width: var(--field-value-width);
--list-item-height: 1.1rem;
--list-item-padding: 2px;
--list-border: var(--border);
--list-hover-background: var(--hover-background);
--list-selection-color: var(--selected-data-color);
--list-selection-background: var(--selection-background);
--clock-date-font: var(--font-small);
--clock-time-font: bold 120% Courier;
--clock-color: #000000;
--slider-border: var(--border);
--slider-height: 2rem;
--slider-width: 12rem;
--slider-thumb-size: 1.2rem;
--slider-range-color: rgba(200, 200, 200, 0.6);
--container-padding: 4px;
--container-margin: var(--margin);
--container-gap: 4px;
--map-brightness: 0.8;
--map-hue: 0;
--map-saturation: 0.3;
--icon-box-left: 0;
--icon-box-top: 0;
--icon-box-dir: row;
--icon-box-margin: var(--margin);
--icon-box-gap: var(--gap);
--icon-box-background: rgba(0, 0, 0, 0);
}